.note-img {
  height: 300px;
}

@media (max-width: 720px) {
  .note-img {
    height: 80%;
  }
}

.note-item:hover {
  background-color: rgb(226, 226, 226);
}

.note-address {
  font-size: 25px !important;
}

.note-status {
  padding-top: 20px;
  color: rgb(131, 131, 131) !important;
}

.note-date {
  padding-top: 20px;
  color: rgb(131, 131, 131) !important;
}

.column1 {
  width: 50%;
  text-align: right;
}

.column3 {
  width: 25%;
  text-align: right;
}
.column2 {
  width: 25%;
  text-align: right;
}

.status-box {
  width: 35%;
  min-width: 58px;
  max-width: 90px;
  height: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
  float: right;
  margin-right: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
}
.status-text {
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}
@media (max-width: 720px) {
  .status-box {
    margin: 0;
  }
}
